<center>
<head>
  <style>
    body {
      background: url("http://upload.wikimedia.org/wikipedia/commons/c/c6/Fleet_5_nations.jpg") no-repeat fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: helvetica;
      font-size: 30px;
    }
  </style>
</head>

<body>
  <a href="/game/player_1_turn">Let battle commence</a>
</body>
</center>