<center>
<head>
  <style>
    body {
      background: url("http://www.mcneilwilson.com/sites/default/files/Missouri%20sunset_1.jpg") no-repeat fixed;
    }
  </style>
  <link href="/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>

<h1>Game Over!</h1>

<h2><%= @p1_name %> (Player 1):
  <% if @player_1_win_status == true %>
    WINNER
  <% else %>
    LOSER
  <% end %>
<h2>

<h2><%= @p2_name %> (Player 2):
  <% if @player_2_win_status == true %>
    WINNER
  <% else %>
    LOSER
  <% end %>
<h2>

</center>