<center>
<head>
  <style>
    body {
      background: url("http://www.cusnc.navy.mil/photos/2011/hi/111029-N-ZZ999-273.jpg") no-repeat fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: Impact, Charcoal, sans-serif;
      font-size: 30px;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  </style>
</head>

<h1>Game Over!</h1>

<h2><%= @p1_name %> (Player 1):-
  <% if @player_1_win_status == true %>
    WINNER
  <% else %>
    LOSER
  <% end %>
<h2>

<h2><%= @p2_name %> (Player 2):-
  <% if @player_2_win_status == true %>
    WINNER
  <% else %>
    LOSER
  <% end %>
<h2>

</center>