<center>
<head>
  <style>
    body {
      background: url("http://www.cusnc.navy.mil/photos/2011/hi/111029-N-ZZ999-273.jpg") no-repeat fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: Impact, Charcoal, sans-serif;
      font-size: 30px;
    }
  </style>
</head>

<h1>Game has been won!!!!!!</h1>

<h2>Player 1 win status:-</h2>
<h2><%= @player_1_win_status %></h2>

<h2>Player 2 win status:-</h2>
<h2><%= @player_2_win_status %></h2>

</center>