<center>
<head>
  <style>
    body {
      background: url("http://upload.wikimedia.org/wikipedia/commons/c/c6/Fleet_5_nations.jpg") no-repeat fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: helvetica;
      font-size: 200px;
    }
  </style>
</head>

<h1>Your turn to fire, <%= $p2_name %> (player 2)!</h1>

<h2>Your fleet:-</h2>
<pre><%= @p2_board_own %></pre>

<h2>Your shots against the enemy:-</h2>
<pre><%= @p2_board_opp %></pre>

<div>
<form action="/game/player_1_turn" method="post">
Coordinates to fire on, captain?
<input type="text" name="coord">
<input type="submit" value="submit">
</form>
</div>
</center>