<center>
<head>
  <style>
    body {
      background: url("http://www.pageresource.com/wallpapers/wallpaper/uss-iowa-battle-battleship-fire-gun-guns-navy-design_481542.jpg") no-repeat fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: Impact, Charcoal, sans-serif;
      font-size: 30px;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  </style>
</head>

<h1>
  <%= $p2_name %>, you fired at <%= $p1_name %>'s fleet
  <% if @result == :hit %>
    and hit!
  <% else %>
    but missed!
  <% end %>
</h1>

<h1>
  <%= $p1_name %>, it's your go.
  Click <a href="/game/player_1_turn">here</a> to play your next move.
</h1>

</center>