<h1>Hello <%= $p1_name %> (player 1), you are pretty sad for playing Battleships - get a life!</h1>

<h2>Here are your boards, you complete loser:</h2>

<h2>Board displaying ships</h2>
<pre><%= @board1 %></pre>

<h2>Board only displaying hits</h2>
<pre><%= @board2 %></pre>

<div>
<form action="/game/player_2_turn" method="post">
Coordinates to fire on, captain?
<input type="text" name="coord">
<input type="submit" value="submit">
</form>
</div>