<center>
<head>
  <style>
    body {
      background: url("http://upload.wikimedia.org/wikipedia/commons/c/c6/Fleet_5_nations.jpg") no-repeat fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: Impact, Charcoal, sans-serif;
      font-size: 200px;
    }
  </style>
</head>

<body>
  <a href="/game/register_players">START A GAME</a>
</body>
</center>