<h1>Hello <%= $name %>, you are pretty sad for playing Battleships - get a life!</h1>
<h2>Here is your board, you complete loser:</h2>

<h2>Board displaying ships</h2>
<pre> <%= @board1 %> </pre>

<h2>Board only displaying hits</h2>
<pre> <%= @board2 %> </pre>

<div>
<form action="/fire" method="post">
Coordinates to fire on, captain?
<input type="text" name="coord">
<input type="submit" value="submit">
</form>
</div>