<center>
<head>
  <style>
    body {
      background: url("http://upload.wikimedia.org/wikipedia/commons/c/c6/Fleet_5_nations.jpg") no-repeat fixed;
    }
  </style>
  <link href="/style.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>

<body>
  <h1><a href="/game/register_players">START A GAME</a></h1>
</body>
</center>